*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #272532;
}
#form{
    padding: 20px 0px;
    
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    color: #fff;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.card::before{
    content: '';
    background: rgba(0, 0, 0, 0.1) url(back.jpg) center center/cover;
    opacity: 0.5;
    height: 300px;
    width: 300px;
    z-index: -1;
    position: absolute;
}
.temp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp h4{
    font-size: 3.0rem;
    font-family: 'Signika', sans-serif;
    
}
.name{
    font-size: 1.0rem;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 20px 0px;
}
#search{
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 1.0rem;
    font-weight: bold;
    size: 500px;
    padding: 10px;
    width: 200px;
    font-weight: bold;
    background: transparent;
    color: #fff;
}
#search:focus{
    outline: none;
}
.desc{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.5rem;
}
.maxmin{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.5rem;
}